Laboratorios/Lab 9/dags/.DS_Store
Laboratorios/Lab 9/dags/.DS_Store
Laboratorios/.DS_Store
Laboratorios/Lab 9/dags/.DS_Store
Laboratorios/Lab 9/data/.DS_Store
Laboratorios/Lab 9/logs/.DS_Store
Laboratorios/Lab 9/logs/dag_id=hiring_dynamic/.DS_Store
Laboratorios/Lab 9/logs/dag_id=hiring_lineal/.DS_Store
Laboratorios/Lab 9/logs/dag_id=hiring_linear_pipeline/.DS_Store
.DS_Store
